.event{
 font-size: 30px;
}

.next{
    margin-left: 40%;
}

.part1{
    display : flex ;
    justify-content: space-evenly;
    
}

.design img {
    border: 3px solid black;
    border-radius: 50px ;
    width: 500px;
   margin-top: 200px;
    
}
